<div class="aboutContainer">
     <!-- Services-->
     <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Ali želite naše storitve? Ne oklevajte, kontaktirajte nas!</h2>
            <h3 class="centerAlign">30 let izkušenj in zadovoljnih strank!</h3>
            <hr class="divider my-4" />
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Natančnost</h3>
                        <p class="text-muted mb-0">Pred samim delom je vse natančno izmerjeno, narejeni so predračuni in sklenjen je dogovor dela</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Natančnost</h3>
                        <p class="text-muted mb-0">Dela so opravljena do določenega datuma</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Delo doma in drugod</h3>
                        <p class="text-muted mb-0">Delamo po celi Sloveniji</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Delo z motivacijo</h3>
                        <p class="text-muted mb-0">Pomembno nam je, da je delo opravljeno odlično in zadovoljivo</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>