.aboutContainer{
    padding-top: 15vh;
    padding-bottom: 20vh;
    background-color: #f5f5f5;
}

.container{
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.centerAlign{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin:20px;
}

.fa-4x {
    color: grey !important;
}

