.frontPicture{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    opacity: 1;
    font-size: 5vw;
}
.front{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}