<div class="container">
    <div style="text-align:center">
      <h2>Kontaktiraj nas</h2>
      <p>Pošlji nam svoje povpraševanje. Odgovorili bomo v najkrajšem možnem času</p>
    </div>
    <div class="row">
      <div class="column">
      </div>
      <div class="column">
        <form>
          <label for="fname">Ime</label>
          <input type="text" id="fname" name="firstname">
          <label for="lname">Priimek</label>
          <input type="text" id="lname" name="lastname">
          <label for="lname">E-mail</label>
          <input type="text" id="lname" name="email">
          <label for="subject">Sporočilo</label>
          <textarea id="subject" name="subject" style="height:170px"></textarea>
          <input class="sendtext" type="submit" value="Pošlji">
        </form>
      </div>
    </div>
  </div>